<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!--HEader-->
    <%- include('../partials/header');%>
    <!--navbar-desk-->
    <%- include('../partials/navbar-desk.ejs');%>
    <!--Banner-->
    <%- include('../partials/banner.ejs');%>    
    <!--Nuevo contenido main imagenes-->
    <main>
        <div>
            <% if (locals.isLogged) { %>
            <h1 style="margin-left: 85px;">Hola: <%=userLogged.first_name%></h1>
            <%}%>
        </div>
        <div class="contendor-main">
            <%- include('../partials/playstation-product.ejs');%>
            <%- include('../partials/nintendoswitch-product.ejs');%>   
        </div>
    </main>
    <!-- Fin Nuevo contenido main imagenes-->
    <footer >
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>