<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %> 
        <link rel="stylesheet" href="/css/usersList.css">
    </head>
    <body>
        <header>
            <form id="hamburguer" name="hamburguer" name="">
                <div class="contenedor-login-fas" id="bars">
                    <label for="show-hamburguer">
                        <i class="fas fa-bars"></i>
                    </label>
                    <div>
                        <input type="checkbox" id="show-hamburguer" hidden>
                        <ul class="navbar-hamburguer">
                            <li class="li-hover "><a href="/users/list">Lista de usuarios</a></li>
                            <li class="li-hover "><a href="/products/create">Crear producto</a></li>
                            <li class="li-hover "><a href="/users/logout">Salir / Logout</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            </form>
            <div id="logo-header">
                <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>
            </div>
            <div id="search">
                <form action="/users/search" method="GET" id="form-search">
                    <input id="buscador" type="text" name="keywords" placeholder="Buscar usuario"/>
                    <button id="boton-search" type="submit"><i class="fas fa-search"></i></button>
                </form>                               
            </div>
            <form id="login">
                <div class="contenedor-login-fas" id="user">
                    <a href="/users/<%=userLogged.id%>"><i class="far fa-user"></i></a>
                </div>
                <div class="contenedor-login-fas" id="cart">
                    <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </form>
        </header>
              
    <div>
        <h1>Usuario: <%=user.first_name%> <%=user.last_name%></h1>
    </div>
    <main>
        <div class="container">
            <article class="card">
                    <div class="card-left">
                        <figure><img  src="/images/users/<%=user.avatar%>" alt="imagen de usuario"></figure>
                        <h3>#<%=user.id%></h3>
                    </div>
                    <div class="card-content">                           
                        <p>Nombre: <%=user.first_name%></p>
                        <p>Apellido: <%=user.last_name%></p>
                        <p>Email: <%=user.email%></p>
                        <p>Categoria: <%=user.category%></p>
                    </div>
            </article>
        </div>
    </main>    
</body>
</html>