<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/header');%>
    <%- include('../partials/navbar-desk.ejs');%>
    <!--Nuevo contenido main imagenes-->
    <main>               
        <div class="contendor-main">
            <%- include('../partials/nintendoswitch-product.ejs');%>
        </div>
    </main>
    <!-- Fin Nuevo contenido main imagenes-->
    <footer >
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>