<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <header>
        <%- include('../partials/header');%>
    </header>
    <div id="content-navbar-desk">
        <ul id="navbar-desk">
            <li><a href="#playstation">PlayStation</a></li>
            <li><a href="#nintendo">Nintendo Switch</a></li>
        </ul>
    </div>
    
    <!--Nuevo contenido main imagenes-->
    <main>
        
        <div class="contendor-main">
            <section >
                <h1 id="playstation"  class="titulares">Resultados de la búsqueda: <%=keywords %></h1>
                <div class="caja-wrap">
                    <% for(let i = 0; i < resultados.length; i ++) { %>
                        <article class="caja-box-shadow">
                            <a href="/products/<%=resultados[i].id%>">
                                <img  src="/images/index/<%=resultados[i].image%>" alt="imagen de producto">
                                <div class="caja">
                                    <p><i class="fas fa-shipping-fast"></i></p>                           
                                    <p class="precios"><%=resultados[i].price%></p>
                                    <p class="descuentos"><%=resultados[i].discount%>% OFF</p>
                                </div>
                                <p class="descripciones"><%=resultados[i].name%></p>
                            </a>
                        </article>
                        <% } %>
                        <% if(!resultados.length) { %>
                        <div class="col-12">
                            <h2 class="titulares" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
                        </div>
                        <% } %>

                </div>
            </section>
        </div>
    </main>
    <!-- Fin Nuevo contenido main imagenes-->
    <footer >
        <%- include('../partials/footer') %> 
    </footer>
    
</body>
</html>